.border{
}

.subheaderborder{
    border: 0.0625rem solid #a8b3bd;
}

.borderRight{
    border-right: 0.0625rem solid #a8b3bd;
    padding: 5px;
}

.padding{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
}


.bgcolor{
    background-color: #ADD8E6 !important;
}

.sapMTableTH {
    background: #ADD8E6 !important;
}

.backGroundGreen{
    background: #dcf4e4 !important;
}

.backGroundRed{
    background: #ffc8cd !important;
}

.margin {
    margin-right: 2px;
}

.sapMGenericTagWrap{
    pointer-events:none;
}

.alternategenerictag{
    background-color: #e1f4ff;
    padding: 10px;
    border-radius: 5px;
}

.blackText{
    color: #1d2d3e !important;
    text-shadow: 0 0 0.125rem #fff !important;
}

.blueText{
    color: #0070f2;
}

.boldText .sapMObjectAttributeTitle{
    font-size: .875rem;
    color: #1d2d3e;
    font-weight: bold;
}