.border{
}

.subheaderborder{
    border: 0.0625rem solid #a8b3bd;
}

.borderRight{
    border-right: 0.0625rem solid #a8b3bd;
    padding: 5px;
}

.padding{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
}


.bgcolor{
    background-color: #ADD8E6 !important;
}

.sapMTableTH {
    background: #ADD8E6 !important;
}

.backGroundGreen{
    background: #dcf4e4 !important;
}

.backGroundRed{
    background: #ffc8cd !important;
}

.margin {
    margin-right: 2px;
}